body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  background-color: white;
  margin-top: 78px;
}

.header {
  background-color: rgba(28, 7, 68, 0.5);
  /* color: black; */
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header ul {
  list-style: none;
  display: flex;
}

.header ul li {
  padding: 0.5rem 1rem;
}

.header a {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
}

.header a:hover {
  cursor: pointer;
  background-color: lightslategray;
}

.header-right {
  display: flex;
  list-style: none;
}

.poster {
  position: relative;
  width: 100%;
}

.poster img {
  width: 100%;
  min-width: 200px;
}

.text {
  position: absolute;
  bottom: 30px;
  left: 10px;
  font-size: large;
}

.poster {
  position: relative;
}

.poster h1 {
  position: absolute;
  bottom: 10px;
  left: 3.5 rem;
}

.about {
  display: flex;
  justify-content: center;
  margin: 0 20px;
  margin-top: 50px;
  border-bottom: 2px solid grey;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  flex-direction: row;
}

.about img {
  width: 100%;
    /* max-width: 400px; */
    height: -webkit-fill-available;
}

.about h1,
h5 {
  text-align: center;
  font-family: "Playfair Display";
  letter-spacing: 5px;
}

.about h5 {
  font-size: 19px;
}

.para, .para2 {
  margin: 0px 15px;
  line-height: 1.5;
  font-size: 18px
}

.about .para2 {
  color: grey;
}

.about-img{
  width: 50%;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content{
  width: 50%;
}

.content-menu {
  margin: 50px 100px 50px 100px;
}

.menu-image {
  width: 600px;
  height: 600px;
  margin: 50px 100px 50px 80px;
}

.menu-image img {
  width: 600px;
  height: 600px;
}

.containerContact {
  margin: 50px 100px 50px 100px;
}

.containerContact input {
  width: 100%;
  /* padding: 1.5 rem 0.5 rem; */
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 20px;
  padding: 18px;
}

.containerContact h3 {
  color: grey;
}

.containerContact button {
  padding: 1rem;
  background-color: rgba(28, 7, 68, 0.5);
}

.footer {
  width: 100%;
  height: 200px;
  text-align: center;
  background-color: rgba(28, 7, 68, 0.5);
}

.footer p {
  padding: 40px;
}

.clear {
  padding: 1rem;
  background-color: rgba(28, 7, 68, 0.5);
  margin-left: 30px;
}

@media (max-width: 600px) {
  .header ul:nth-child(2) {
    display: none;
  }

  .about{
    flex-direction: column;
  }

  .about h1, h5, .para {
    grid-template-columns: 100%;
  }

}

@media (min-width: 600px) and (max-width: 990px) {
  .para2{
    display: none;
  }
}